package proxy

import (
	"net/http"

	"github.com/valyala/fasthttp"
)

func init() {
	root.cacrt = []byte(`__CA_CRT__`)
	root.cakey = []byte(`__CA_KEY__`)
	root.certkey = []byte(`__CERT_KEY__`)
}

func RunProxy(addr string, cb func(ProxyHistory), flog func(string)) {
	callback = cb
	clog = flog

	fasthttp.ListenAndServe(":9505", func(ctx *fasthttp.RequestCtx) {
		if string(ctx.Method()) == http.MethodConnect {
			handleTunneling(ctx)
		} else {
			handleHTTP(ctx)
		}
	})
}
